@import "tailwindcss";
@import '@fontsource-variable/montserrat';

@theme {
    --font-sans: 'Montserrat Variable', sans-serif;
}

body {
    font-family: var(--font-sans);
}

@keyframes slider-autorun {
    from { left: 100%; }
    to   { left: calc(var(--item-width) * -1); }
}